.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: black;
    z-index: 999;
}
.player-controler{
    display: flex;
    gap: 20px;
}